NEXT_PUBLIC_CONTRACT_ID=CDRIREBGHCOS3YU6KMFGXLLBOXCWMYXX2VQ7AYX2G5YBWVPNJ7SHHFHJ
NEXT_PUBLIC_NETWORK=testnet
NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_BID_TOKEN=CBIELTK6YBZJU5UPH73ZZ7RMHWAVP5FM646FGAWL25LETVSEUYEKNMYF
NEXT_PUBLIC_PRIZE_TOKEN=CBIELTK6YBZJU5UPH73ZZ7RMHWAVP5FM646FGAWL25LETVSEUYEKNMYF
